


      <%# <h3> Nom de l'humoriste <%= humorist.name %> </h3>
      <%# <p> Humour <%= humorist.humor_type %> </p>
      <%# <p> <%= humorist.size %> </p>
      <%# <p> <%= humorist.weight %> </p>
      <%# <p> <%= humorist.age %> </p>
      <%# <p> <%= humorist.public_target %> </p>
      <%# <p> <%= humorist.price_per_hour %> </p>
      <%# </div> %>
