      <h3 class="text-4xl font-bold ml-6 mr-6 mt-6 text-center">Votre profil</h3>
<div class="grid-cols-3 w-full mx-auto text-center xl:px-60 shadow">

  <div class="bg-white profile shadow-md rounded-xl text-center p-4 mt-6">
      <div class="flex content-center ml-24">
        <%= cl_image_tag @user.photo.key, :transformation=>
        [{:height=>300, :width=>300},
        {:width=>300, :crop=>"scale", :radius=>"max"}] %>
      <div class="flex content-center text-left ml-60 mt-12 text-lg p-1">
          <ul>
            <li class="text-3x1 font-bold text-left text-center mb-6">Vos informations :<li>
            <li><strong>Pseudo : </strong><%= @user.username %><li>
            <li><strong>Prénom : </strong><%= @user.first_name %></li>
            <li><strong>Nom :    </strong><%= @user.last_name %></li>
            <li><strong>Email :  </strong><%= @user.email %></li>
          </ul>
          </div>
      </div>
  </div>

<h3 class="flex-auto text-4xl font-bold mt-6">Vos humoristes</h3>

  <div class="grid-cols-3 gap-4 text-center mx-auto">
    <% if @user.humorists.empty? %>
      <div class="grid col-span-1 py-6 px-3">
        <div class="bg-white shadow-xl rounded-lg overflow-hidden text-center">
          <div class="bg-cover bg-center h-56 p-4" style="background-image: url(https://www.francetvinfo.fr/pictures/J_zlAQ8vJSlza4ZE0xojA4UwMFE/752x423/2019/04/13/phpqlzjvi.jpg)">
          </div>
          <div class="px-4 pt-3 pb-4 border-t border-gray-300 bg-gray-100 text-center">
            <div class="pt-2 text-center text-white-50">
              <button class="bg-red-500 hover:bg-red-700 rounded transition"><%= link_to 'Ajouter un Humouriste', new_humorist_path, class: "font-bold text-white p-3"%></button>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="grid grid-cols-3">
    <% @user.humorists.each do |humorist| %>
              <div class="grid grid-span-1 max-w-sm py-6 px-3">
                  <div class="bg-white shadow-xl rounded-lg overflow-hidden mb-12">
                      <div> <%= cl_image_tag humorist.photo.key, :transformation=> [{:height=>350, :width=>350, crop: :fill }] if humorist.photo.attached? %>
                      </div>
                      <div class="p-4">
                          <p class="uppercase tracking-wide text-sm font-bold text-gray-700"><%= humorist.name %></p>
                          <p class="text-3xl text-gray-900"><%= humorist.price_per_hour%> €/h</p>
                          <p class="text-gray-700">742 Evergreen Terrace</p>
                      </div>
                      <div class="border-t border-gray-300 bg-gray-100">
                          <div class="flex items-center">
                              <div class="flex ml-3">
                                  <%= link_to image_tag("https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/Noun_project_-_crayon.svg/1024px-Noun_project_-_crayon.svg.png", :width=>20), edit_humorist_path(humorist)%>
                              </div> <div class="flex p-2">
                                  <%= link_to image_tag('https://image.flaticon.com/icons/png/512/51/51388.png', :width=>20), humorist_path(humorist), method: "delete" %>
                              </div>
                          </div>
                      </div>
                  </div>
          </div>
  <% end %>
  </div>
  </div>
</div>
</div>
