<% unless @humorists.empty? %>
<div class="grid grid-cols-2">
  <div class="">
    <% @humorists.each do |humorist| %>
      <%= link_to humorist_path(humorist) do %>
        <div class="w-full flex items-center content-center bg-gray-800 rounded-lg border shadow-lg pb-6">
          <div class="mt-4 ml-8">
            <%= cl_image_tag humorist.photo.key, height: 120, width: 120, crop: :fill %>
          </div>
          <div class="p-4 align-center">
            <p class="work-sans font-semibold text-xl text-white"><%= humorist.name %></p>
            <div class="info flex divide-x">
              <p class="raleway text-sm my-4 text-white opacity-75 mr-4">Type d'humour : <%= humorist.humor_type %></p>
              <p class="raleway text-sm my-4 text-white opacity-75 px-4">Public : <%= humorist.public_target %></p>
              <p class="raleway text-sm my-4 text-white opacity-75 px-4">Prix au jour : <%= humorist.price_per_hour %>€</p>
            </div>
            <div class="flex mx-auto items-center">
              <div class="h-8 w-8 rounded-full object-center"
                    style="background-size: contain; background-image: url('<%= cl_image_path(humorist.owner.photo.key)%>')">
              </div>
              <p class="text-white opacity-75 ml-4"><%= User.find(humorist.owner_id).username %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="">
    <div id="map"
      style="width: 50vw; height: 87vh; position:fixed;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
<% else %>
  <div class="container text-center mt-10 mx-auto">
  <h2>Aucun humouriste correspond à votre recherche.</h2>
    <%= link_to 'Ajoutez le votre !', new_humorist_path, class: 'underline text-blue-500' %>
  </div>
<% end %>
