<h2 class="text-5xl font-extrabold text-center mt-2">Ajoutez un humoriste</h2>
<%= simple_form_for(@humorist) do |f| %>
<div class="container mt-4">
  <div class="form-container bg-white xl:mx-64 sm:mx-12 p-12 rounded-xl">
  <%= f.input :name %>
  <%= f.input :humor_type, :collection => ["Noir", "Enfantin", "Tout Public", "Beauf"] %>
  <%= f.input :public_target, :collection => ["Enfant", "Ado", "Adulte"] %>
  <%= f.input :price_per_hour %>
  <%= f.input :size %>
  <%= f.input :weight %>
  <%= f.input :gender %>
  <%= f.input :age %>
  <%= f.input :photo, as: :file %>
    <div class="text-center w-full mt-4">
      <%= f.button :submit, "Ajoutez à votre collection", class: 'justify-items-start md:justify-items-center py-2 px-4 border-2 text-white-500 bg-white border-indigo-500 hover:bg-indigo-500 hover:text-orange font-bold text-center rounded-lg'%>
    </div>
  </div>
</div>
<% end %>
