<div class="container flex mx-auto">
  <div class="shadow-md p-12 rounded mt-8 flex-1">
  <h3 class="text-4xl capitalize"><%= @humorist.name %></h3>
    <ul>
      <li>Type d'humour: <%= @humorist.humor_type %><li>
      <li>Public cible: <%= @humorist.public_target %><li>
      <li>Prix de l'heure: <%= @humorist.price_per_hour%><li>
      <% if @humorist.gender != nil %> <li>Genre: <%= @humorist.gender %><li><% end %>
      <% if @humorist.weight != nil %> <li>Poids: <%= @humorist.weight %><li><% end %>
      <% if @humorist.age != nil %> <li>Age: <%= @humorist.age %><li><% end %>
      <% if @humorist.size != nil %> <li>Taille: <%= @humorist.size %><li><% end %>
      <% if @humorist.address != nil %> <li>Address: <%= @humorist.address %><li><% end %>
    </ul>
  </div>
  <div class="shadow-md p-12 rounded mt-8 w-full flex-1">
        <%= simple_form_for [@humorist, @booking] do |f| %>
          <%= f.input :content%>
          <%= f.input :start_date %>
          <%= f.input :final_date %>
          <%= f.button :submit %>
        <% end %>
      </div>
  </div>
</div>

<%
=begin%>
 </div>
      t.text :content
      t.integer :price
      t.datetime :start_date
      t.datetime :final_date
      t.references :client, references: :user , foreign_key: { to_table: :users }
      t.references :humorist, foreign_key: true
      t.timestamps
<%
=end%>
