<h1><%= @humorist.name %></h1>
<h2> Informations </h2>
<h3>
  <ul>
    <li>Type d'humour: <%= @humorist.humor_type %><li>
    <li>Public cible: <%= @humorist.public_target %><li>
    <li>Prix de l'heure: <%= @humorist.price_per_hour%><li>
    <% if @humorist.gender != nil %> <li>Genre: <%= @humorist.gender %><li><% end %>
    <% if @humorist.weight != nil %> <li>Poids: <%= @humorist.weight %><li><% end %>
    <% if @humorist.age != nil %> <li>Poids: <%= @humorist.age %><li><% end %>
    <% if @humorist.size != nil %> <li>Poids: <%= @humorist.size %><li><% end %>
    <% if @humorist.address != nil %> <li>Poids: <%= @humorist.address %><li><% end %>
