<div class="container mx-auto">
<h1 class="text-4x1 font-bold mt-4 mr-48 ml-48  border-1 rounded-full font-sans"><%= @humorist.name %></h1>
<div class="bg-white grid grid-cols-2 gap-3 shadow-xl p-4 mr-48 ml-48 border-1 rounded-20x1">
    <div class="grid span-1">
      <div class="ml-40">
        <% if @humorist.photo.attached? %>
          <%= cl_image_tag(@humorist.photo.key, :transformation=>[
            { :width => 250, :height => 250, :crop => "fill", :radius => "max" }])  %>
        <% end %>
      </div>
    </div>
    <div class="grid span-2 font-medium text-2x1 mt-10 ml-24 p-3">
      <ul>
        <% if @humorist.gender != nil %> <li>Genre : <%= @humorist.gender %><li><% end %>
        <% if @humorist.weight != nil %> <li>Poids : <%= @humorist.weight %><li><% end %>
        <% if @humorist.age != nil %> <li>Age : <%= @humorist.age %><li><% end %>
        <% if @humorist.size != nil %> <li>Taille : <%= @humorist.size %><li><% end %>
        <% if @humorist.address != nil %> <li>Addresse : <%= @humorist.address %><li><% end %>
        <li>Type d'humour : <%= @humorist.humor_type %><li>
        <li>Public cible : <%= @humorist.public_target %><li>
        <li>Prix pour une journée de prestation : <%= @humorist.price_per_hour%>€<li>
      </ul>
    </div>
  </div>
</div>
  <div class="bg-white grid grid-cols-2 gap-3 shadow-xl p-3 mt-6 mr-48 ml-48 mt-12 mb-10 border-1">
    <h1 class="text-2x-1 font-bold text-center mr-12 mt-10 font-sans">Réservez une prestation</h1>
    <%= simple_form_for [@humorist, @booking], method: 'post' do |f| %>
      <%= f.input :content, label: "Détails", placeholder: "Je veux qu'il ou elle se cache dans les buissons." %>
      <div id="dateRangePickerId" class="flex items-center">
        <div class="relative">
          <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
            <svg class="w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
          </div>
          <%= f.text_field :starts_at,
            class: "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 datepicker-input" %>
        </div>
        <span class="mx-4 text-gray-500">to</span>
        <div class="relative">
          <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
            <svg class="w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
          </div>
        <%= f.text_field :ends_at,
          class: "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 datepicker-input" %>
        </div>
      </div>
      <%= f.button :submit, class: "mt-5 my-2 bg-blue-500 hover:bg-blue-700 text-white font-bold text-sm py-2 px-4 rounded justify-items-start md:justify-items-center py-2 px-4 border-2 text-white-500 bg-white border-indigo-500 hover:bg-indigo-500 hover:text-orange font-bold text-center rounded-lg" %>
    <% end %>
  </div>
  </div>
</div>
</div>
