<h1><%= @humorist.name %></h1>
<h2> Informations </h2>
<h3>
  <ul>
    <li>Type d'humour: <%= @humorist.humor_type %><li>
    <li>Public cible: <%= @humorist.public_target %><li>
    <li>Prix: <%= @humorist.price_per_hour%>€/h<li>
    <% if @humorist.gender != nil %> <li>Genre: <%= @humorist.gender %><li><% end %>
    <% if @humorist.weight != nil %> <li>Poids: <%= @humorist.weight %>kg<li><% end %>
    <% if @humorist.age != nil %> <li>Age: <%= @humorist.age %> ans<li><% end %>
    <% if @humorist.size != nil %> <li>Taille: <%= @humorist.size %>cm<li><%end%>
    <% if @humorist.address != nil %> <li>Adresse: <%= @humorist.address %><li><%end%>
  </ul>
</h3>
